*{
	box-sizing: border-box;
}
body{
	font-family: Microsoft JhengHei, sans-serif;
	background-color: #efefef;
	margin: 0;
	padding: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default label{
	color: #000;
}
.navbar-default label:hover{
}
.navbar-brand{
	position: relative;
	margin: 0;
	font-size: 22px;
}

.navbar-header a {
	font-size: 30px;
	display: flex;
	align-items: center
}
.navbar-header label{
	font-size: 25px;
	display: flex;
	align-items: center;
	font-weight: bold;
}
.navbar-default .navbar-brand{
	color: #000;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{
	background-color: transparent;
	color: #000;
}
.navbar-default .navbar-nav > li > a:hover{
	background-color: #848484;
	color: #fff;
}


.topnav_css{
	background-color: #ffffff;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
}

.navbar-nav li label{
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.navbar-nav{
	font-size: 20px;
	margin-bottom: 0;
	margin-top: 0;
	color: #000;
}

.navbar-nav li{
	line-height: 50px;
}

.navbar-nav li a{
	color: #000;
}

.navbar-default .navbar-nav > li > a > label:hover{
	background-color: #848484;
	
}
.navbar-nav span{
	font-size: 22px;
}
#myNavbar label{

}

#content_padding{
	height: 25%;
}
.content_size{
	width: 50%;
	margin:0px auto;
	background-color: #fff;
	border-radius: 30px;
}
.form_inside_padding0{
	padding-bottom: 35px;
}
.form_inside_padding{
	padding-bottom: 10px;
}
.form_inside_padding1{
	padding-bottom: 50px;
}
.form_inside_padding2{
	padding-bottom: 100px;
}
#myForm{
	margin: 0;

}
.form-group .title{
	font-size: 30px;
	font-weight: bold;
}


.formlabel{
	margin: 0;
	font-size: 20px;
	color: #3d3f42;
	padding-left: 5px;
}
.form-group{
	margin: 0 auto;
	width: 75%;
}
.form-group input[type="text"]{
	border-radius: 25px;
	font-size: 23px;
	height: ;
}
.form-group input[type="text"].input_error{
	border: 1px solid #8c0000;
}
.form-group span{
	color: #8c0000;
}
.form-group .btn{
	width: 100%;	
	background-color: #1ca6ce;
	border: none;
}
.form-group button[type="submit"]{
	border-radius: 35px;
	font-size: 20px;
	font-weight: bold;
}
.index_content_css{
	width: 100%;
}
.index_content_css label{
	font-family: Ariel Black, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
div.error{
	color: #8c0000;
}


@media only screen and (max-width : 1200px) {

}
@media only screen and (max-width : 875px) {
	#content_padding {
		height:25%;
	}
}
@media only screen and (max-width : 768px) {
	.navbar-collapse li a { 
		font-size: 18px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.navbar-collapse li a label{ 
		font-weight: bold;
	}

	.navbar-collapse li a :hover{ 
		font-weight: bold;
		color: #fff;
	}
	.navbar-header label{
		padding-left: 0px;

	}
	#content_padding {
		height: 30%;
	}

}
@media only screen and (max-width : 620px) {
	.content_size{
		width: 75%;
	}
}
@media only screen and (max-width : 480px) {
	.navbar-collapse li a { 
		font-size: 18px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
	.navbar-collapse li a label{ 
		font-weight: bold;
	}

	.navbar-header a{
		padding-left: 15px;
	}
	.navbar-header label{
		padding-left: 0px;
	}
	#content_padding {
		height: 25%;
	}
	.content_size{
		width: 100%;
	}
	#myform.container-fluid{
		padding: 0;
	}
}
@media only screen and (max-width : 320px) {
	.navbar-header a{
		display: none;
	}
	.navbar-header label{
		padding-left: 5px;
	}
	.formlabel{
		font-size: 18px;
	}
	.form-group input[type="text"]{
		font-size: 20px;
	}
}